{% load static %}


<nav class="navbar navbar-expand-lg bg-body-light" id="mainnavbar">


    <div class="container p-4">
      <a class="navbar-brand"  href="{% url 'index' %}">Flight App</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 400px;">
          


            <!-- Dashboard -->
            <li class="nav-item">
                <a class="nav-link active" aria-current="page"  href="{% url 'index' %}" >Home</a>
            </li>


            <!-- Add Flight -->
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'airline' %}" >Our Available Flights</a>
            </li>


            {% if user.is_authenticated %}
            
            <!-- Cart -->
            <!-- <li class="nav-item">
              <a class="nav-link"  href="{% url 'book-airline' %}">Complete Booking</a>
            </li> -->

            <!-- Login -->
            <li class="nav-item">
                <a class="nav-link"  href="{% url 'booked-flights' %}">Booked Flights</a>
            </li>

            <!-- Login -->
            <li class="nav-item">
                <a class="nav-link"  href="{% url 'user-details' %}">My Account</a>
            </li>

            {% elif not user.is_authenticated %}
            <!-- Login -->
            <li class="nav-item">
                <a class="nav-link"  href="{% url 'login' %}" >Login</a>
            </li>
            {% endif %}
          
        </ul>
        <form class="d-flex" role="search">
          <!-- <input class="form-control me-2" type="search" placeholder="Search Flight" aria-label="Search"> -->
           
          {% if not user.is_authenticated %}
          <a href="{% url 'register' %}" class="btn btn-outline-success" type="submit">Sign Up</a>
          {% elif user.is_authenticated %}
          <a href="{% url 'airline' %}" class="btn btn-outline-success" type="submit">Book A Flight</a>
          
          <div class="form-inline my-2 my-lg-0 " id="cartnav">
            <!-- <a href="#"class="btn btn-warning">Login</a> -->
            <a href="{% url 'book-airline' %}"><img  id="cart-icon" src="{% static 'images/cart.png' %}"></a>
            <p id="cart-total">{{cartIconShowQuantity}}</p>
          </div>
          {% endif %}
        </form>
      </div>
    </div>
  </nav>