{% extends 'airline/base.html' %}

{% load crispy_forms_tags %}
{% block content %}


<div class="container">
    <section class="all-user-detail-container">

        <div class="two-user-details-boxes-1">
            <form action="" method="post" class="form-group">
                {% csrf_token %}

                {{ customerformContext|crispy }}
        
                <button type="submit" class="btn btn-success mt-3">Update Account Details</button>
              
            </form>
        </div>



        <div class="two-user-details-boxes-2">
            <div class="inner-user-detail-box">
                <a class="btn btn-primary"  href="{% url 'booked-flights' %}"> Booked Flights</a>
            </div>

            <div class="inner-user-detail-box">
                <form action="{% url 'logout' %}" method="post" class="form-inline">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Log Out</button>
                </form>
            </div>

        </div>

    </section>
</div>


{% endblock %}